# Small optional CPU-friendly analysis configuration. GPU backends can also use it.
numAnalysisThreads = 1
numSearchThreadsPerAnalysisThread = 1
numEigenThreadsPerModel = 2
maxVisits = 64
nnMaxBatchSize = 2
nnCacheSizePowerOfTwo = 16
nnMutexPoolSizePowerOfTwo = 12
reportAnalysisWinratesAs = BLACK
ignorePreRootHistory = false
